apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

# AWS-specific patches for production-scale testing
patches:
  # Scale up HammerDB resources and set correct DB host
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: "1"
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: "2Gi"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: "4"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: "4Gi"
      - op: replace
        path: /spec/template/spec/containers/0/env/0/value
        value: "yb-tservers"
      # Benchmark tuning for AWS
      - op: replace
        path: /spec/template/spec/containers/0/env/8/value
        value: "400"
      - op: replace
        path: /spec/template/spec/containers/0/env/9/value
        value: "96"
      - op: replace
        path: /spec/template/spec/containers/0/env/10/value
        value: "5"
      - op: replace
        path: /spec/template/spec/containers/0/env/11/value
        value: "2"
      - op: replace
        path: /spec/template/spec/containers/0/env/12/value
        value: "true"
    target:
      kind: Deployment
      name: hammerdb

  # Scale up sysbench for AWS with production settings
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: sysbench
      spec:
        template:
          spec:
            containers:
              - name: sysbench
                resources:
                  requests:
                    cpu: "2"
                    memory: "2Gi"
                  limits:
                    cpu: "4"
                    memory: "4Gi"
                env:
                  - name: PG_HOST
                    value: "yb-tservers"
                  - name: PG_PORT
                    value: "5433"
                  - name: PG_USER
                    value: "yugabyte"
                  - name: PG_PASS
                    value: "yugabyte"
                  - name: PG_DB
                    value: "yugabyte"
                  # Production settings for AWS
                  - name: SYSBENCH_TABLES
                    value: "20"
                  - name: SYSBENCH_TABLE_SIZE
                    value: "5000000"
                  - name: SYSBENCH_THREADS
                    value: "60"
                  - name: SYSBENCH_TIME
                    value: "1800"
                  - name: SYSBENCH_WARMUP
                    value: "300"
                  - name: SYSBENCH_WORKLOAD
                    value: "oltp_read_write"
                  - name: SYSBENCH_RANGE_KEY_PARTITIONING
                    value: "false"
                  - name: SYSBENCH_SERIAL_CACHE_SIZE
                    value: "1000"
                  - name: SYSBENCH_CREATE_SECONDARY
                    value: "true"
    target:
      kind: Deployment
      name: sysbench

  # Scale Prometheus for higher cardinality
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: "2Gi"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: "4Gi"
    target:
      kind: Deployment
      name: prometheus

