[Unit]
Description=YugabyteDB Master {{ idx + 1 }}
After=network.target

[Service]
Type=simple
User=ubuntu
ExecStart={{ yb_install_dir }}/yugabyte-{{ yb_version }}/bin/yb-master \
  --fs_data_dirs={{ yb_data_dir }}/master-{{ idx + 1 }} \
  --master_addresses={{ yb_master_addresses }} \
  --replication_factor={{ yb_replication_factor }} \
  --rpc_bind_addresses={{ ansible_host }}:{{ item.rpc_port }} \
  --webserver_port={{ item.web_port }} \
  --webserver_interface={{ ansible_host }}
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
