apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

# Minikube-specific patches for reduced resources
patches:
  # Reduce controller node pool replicas for local development
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: KafkaNodePool
      name: controller

  # Reduce broker node pool replicas for local development
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: KafkaNodePool
      name: broker

  # Reduce Kafka replication factors for single-node
  - patch: |-
      - op: replace
        path: /spec/kafka/config/offsets.topic.replication.factor
        value: 1
      - op: replace
        path: /spec/kafka/config/transaction.state.log.replication.factor
        value: 1
      - op: replace
        path: /spec/kafka/config/transaction.state.log.min.isr
        value: 1
      - op: replace
        path: /spec/kafka/config/default.replication.factor
        value: 1
      - op: replace
        path: /spec/kafka/config/min.insync.replicas
        value: 1
    target:
      kind: Kafka
      name: kafka-cluster

  # Reduce Kafka Connect replicas and resources
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
      - op: replace
        path: /spec/config/offset.storage.replication.factor
        value: 1
      - op: replace
        path: /spec/config/config.storage.replication.factor
        value: 1
      - op: replace
        path: /spec/config/status.storage.replication.factor
        value: 1
      - op: replace
        path: /spec/resources/requests/cpu
        value: "250m"
      - op: replace
        path: /spec/resources/requests/memory
        value: "512Mi"
      - op: replace
        path: /spec/resources/limits/cpu
        value: "500m"
      - op: replace
        path: /spec/resources/limits/memory
        value: "1Gi"
    target:
      kind: KafkaConnect
      name: kafka-connect

  # Reduce Kafka topic replicas
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
      - op: replace
        path: /spec/partitions
        value: 3
    target:
      kind: KafkaTopic

  # Reduce CDC producer resources for local development
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: "100m"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: "500m"
    target:
      kind: Deployment
      name: cdc-producer

  # Add NodePort for Prometheus access
  - patch: |-
      - op: replace
        path: /spec/type
        value: NodePort
      - op: add
        path: /spec/ports/0/nodePort
        value: 30090
    target:
      kind: Service
      name: prometheus
